
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="min-height:1400px;">
    <h1>GAMES</h1>
    <br />
    <div>
        <h2>Asteroid Field Navigation</h2>
        <div class="textFor50-50Column">

            <p class="lead">
                Asteroid Field Navigation is our debut game. It's an old school arcade game with modern 3D graphics.
            </p>
            <p class="lead">
                Fly through an asteroid field at high speed and try not to crash!
            </p>
            <p class="lead">
                This game is easy to learn but difficult to master, and has zero ads.
            </p>

            <br/>
            <br/>
            <a target="_blank" href='https://play.google.com/store/apps/details?id=com.ThirdEyeSoftware.AsteroidFieldNavigation&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img width="75%" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' />
            </a>

        </div>
        <div style="float:left; border:solid 1px #C00000;">
            <img src="~/Images/AsteroidFieldNavigationScreenshot.png" />
        </div>
    </div>
</div>