
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="min-height:1400px;">
    <h1>GAMES</h1>
    <br />
    <div>
        <h2>Asteroid Field Navigation</h2>
        <div style="float:left; width:50%; margin-right:50px; ">

            <p class="lead">
                Asteroid Field Navigation is our debut game. It's an old school arcade game with modern 3D graphics.
            </p>
            <p class="lead">
                Fly through an asteroid field at high speed and try not to crash!
            </p>
            <p class="lead">
                This game is easy to learn but difficult to master, and has zero ads.
            </p>
        </div>
        <div style="float:left; border:solid 1px #C00000;">
            <img src="~/Images/AsteroidFieldNavigationScreenshot.png" />
        </div>
    </div>
</div>