
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>ABOUT US</h1>
    <br />
    <h2>Origins</h2>
    <p class="lead">
        Founded in 2016, Rebel Software released its debut game in 2019.
        Our founder has been a life-long gamer, and first tried coding video games at the age of 14.
        After gaining experience in the world of business applications, he became ready to release a commercial game at age 34.
    </p>
    <br />
    <h2>Our Game Design</h2>
    <p class="lead">
        We believe there are great aspects to both retro games and modern games. Retro games are simple to learn, but modern games offer realistic 3D graphics. What we're missing is a combination of both.
        <br />
        <br />
        We don't see enough games that combine modern graphics with simple gameplay, and that's the need we aim to fulfill.
    </p>
    <br />
    <h2>Our Business Model</h2>
    <p class="lead">
        There are two problems with mobile gaming today: in-game ads and in-game currencies.
        <br />
        <br />
        The player should face a simple purchase system. It's too complicated to keep track of in-game currencies like gold, diamonds, and rubies. In our games, you only have to pay for lives, so you know exactly what you're paying for.
        <br />
        <br />
        In-game ads are annoying, so they're going to drive players away, not generate revenue.
    </p>
</div>