
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="min-height:3500px; min-width:400px;">
    <h1>ABOUT US</h1>
    <br/>
    <div>
        <div class="textFor50-50Column" style="padding-top:0px;">
            <h2>Origins</h2>
            <p class="lead">

                Hi, I'm Jayd Pather, founder of Rebel Software.
                <br />
                <br />
                I've been a gamer as long as I can remember, and I first tried coding video games when I was 14. I wasn't able to make a complete game as a beginner, but
                I went on to study computer science and work on business applications. At the age of 34, I was ready to release my first game.
            </p>
        </div>
        <div style="float:left; padding-top:20px;">
            <img src="~/Images/founder_headshot.jpg" style="float:left;" />
            <div style="float:left; clear:left; width:100%; font-size:15px;">
                <div style="float:left;">
                    Jayd Pather
                </div>
                <div style="float:left; padding-left:90px; text-align:right;">
                    Founder
                    <br />
                    Game Designer and Developer
                </div>
            </div>
        </div>
    </div>

    <div style="clear:left;" class="textFor50-50Column">
        <br />
        <h2>Our Game Design</h2>
        <p class="lead">
            We believe there are great aspects to both retro games and modern games. Retro games are simple to learn, but modern games offer realistic 3D graphics. What we're missing is a combination of both.
            <br />
            <br />
            We don't see enough games that combine modern graphics with simple gameplay, and that's the need we aim to fulfill.
        </p>
    </div>

    <div style="clear:left;" class="textFor50-50Column">
        <br />
        <h2>Our Business Model</h2>
        <p class="lead">
            There are two problems with mobile gaming today: in-game ads and in-game currencies.
            <br />
            <br />
            It's too complicated to keep track of in-game currencies like gold, diamonds, and rubies. In our games, you only have to pay for lives, so you know exactly what you're paying for.
            <br />
            <br />
            In-game ads are so annoying, they're more likely to drive players away rather than generate revenue.
            <br />
            <br />
            We're here to bring you the best parts of gaming and cut out all the bullshit: simple gameplay, 3D graphics, zero ads.
        </p>
    </div>
</div>
