body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #202020;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul.navbar-nav > li > a.RSnavBarItem {
    color: #C00000;
    font-size: 28px;
    /*border-bottom: 1px solid #C00000;*/
    border-right: 1px solid #C00000;
    /*margin-bottom: 3px;*/
    margin-right: 3px;
    padding-right:25px;
}

.navbar {
    background-color: #202020;
    padding-bottom: 25px;
}

.jumbotron {
    background-color: black;
    color: #CF0000;
}

.lead{
    color:white;
}

.col-md-4 a {
    color: #CF0000;
}

.col-md-4 p {
    color: white;
}

footer p {
    color: #CF0000;
}

.formCell
{
    padding:10px;
    vertical-align:top;
}

.textFor50-50Column {
    float: left;
    width: 50%;
    margin-right: 50px;
}