
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
}

<div class="jumbotron" style="margin-top:60px;">
	<h1>Demo Apps</h1>
	<br />
	<h3>An overview of my demo apps</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/fCk8-MDRHxE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<br />
	<br />

	<h3>Github links:</h3> 
	<ul>
		<li>
			<a href="https://github.com/jaydpather/FunctionalCrudForms">Scalable business app with RabbitMQ and MongoDB</a>
		</li>
		<li>
			<a href="https://github.com/jaydpather/PVHDemo">Monolith business app with SQL Server</a>
		</li>
		<li>
			<a href="https://github.com/jaydpather/CommonGameLogic">My Android game</a>
		</li>
		<li>
			<a href="https://github.com/jaydpather/UnityGameEngineInterface">Unity interface for my Android game</a>
		</li>
	</ul>
</div>