
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
}

<div class="jumbotron" style="margin-top:60px;">
	<h1>Demo Apps</h1>
	<br/>
	<h3>A 5-minute overview of my demo apps</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/j9MSXVe3WcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>